{% comment %}
This is an example section that uses the "image_with_heading" schema
{% endcomment %}

<section>
  <div class="twcss-min-h-[80vh] twcss-flex twcss-justify-center twcss-items-center twcss-bg-cover twcss-bg-no-repeat twcss-bg-center" style="background-image: url({{ section.settings.image | image_url: width: 2000 }})">
    <div class="twcss-max-w-5xl twcss-bg-white twcss-py-20 twcss-px-16 twcss-flex twcss-flex-col twcss-items-center">
      {% if section.settings.caption != blank %}
        <p class="twcss-uppercase twcss-text-2xl twcss-mb-6 twcss-font-semibold">{{ section.settings.caption }}</p>
      {% endif %}
      <h2 class="twcss-max-w-6xl twcss-text-center twcss-font-young-serif twcss-font-bold twcss-text-6xl sm:twcss-text-7xl twcss-leading-snug twcss-mb-9">{{ section.settings.heading }}</h2>
      <p class="twcss-text-center twcss-mb-12">{{ section.settings.description }}</p>
      {%- for block in section.blocks -%}
        {% case block.type %}
          {%- when 'button' -%}
          {%- if block.settings.button_label != blank -%}
            <a
              {% if block.settings.button_link == blank %}
              role="link"
              aria-disabled="true"
              {% else %}
              href="{{ block.settings.button_link }}"
              {% endif %}
              class="twcss-py-6 twcss-px-9 twcss-rounded-2xl twcss-uppercase twcss-text-2xl twcss-font-semibold twcss-bg-sky-primary/80 twcss-w-auto twcss-font-jakarta twcss-bg-transparent twcss-text-white twcss-transition hover:twcss-bg-sky-primary/100"
              {{ block.shopify_attributes }}>
              {{ block.settings.button_label | escape }}
            </a>
          {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "OY Image banner",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Select an image to display"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Enter a heading for the section"
      }, {
        "type": "text",
        "id": "caption",
        "label": "Caption",
        "info": "Enter a caption for the image"
      }, {
        "type": "inline_richtext",
        "id": "description",
        "label": "Description",
        "info": "Enter a description for the section"
      }
    ],
    "blocks": [
      {
        "type": "button",
        "name": "cta_button",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "Button label",
            "info": "Enter a button text"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Enter a link for the button"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "OY Image banner"
      }
    ]
  }
{% endschema %}